<div class="container-title">
    <label class="title">HN - Feed</label><br />
    <label class="sub-title">We <3 hocker news!</label>
</div>
<div class="container-post">
    <ng-container *ngFor="let post of posts">
        <div class="container-item">
            <div class="body-post-1">
                {{ post.name }}
            </div>
            <div class="body-post-2">
                {{ post.date | date:'h:mm a' }}
            </div>
        </div>
    </ng-container>
</div>