.container-title {
    width: 100%;
    height: 150px;
    background-color: #000;
    padding-top: 80px;
}

.title{
    color: #fff;
    font-family: Arial;
    font-size: 60px;
    font-weight: bold;
    margin-left: 2rem;
}

.sub-title{
    color: #fff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    margin-left: 2rem;
}

.container-post {
    width: 100%;
    border: 1px solid #000
}

.container-item {
    padding: 25px;
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
    font-family: Arial;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.body-post-1 {
    width: 70%;
    float: left;
}

.body-post-2 {
    width: 30%;
    text-align: right;
    float: right;
}